@font-face {
    font-family: 'Avenir book';
    src: url(../fonts/AvenirLTStd-Book.ttf) format('truetype'),
         url(../fonts/AvenirLTStd-Book.woff) format('woff'),
         url(../fonts/AvenirLTStd-Book.woff2) format('woff2');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url(../fonts/Avenir-Medium.ttf) format('truetype'),
         url(../fonts/Avenir-Medium.woff) format('woff'),
         url(../fonts/Avenir-Medium.woff2) format('woff2');
}

@font-face {
    font-family:'Avenir Heavy';
    src: url(../fonts/Avenir-Heavy.ttf) format('truetype'),
         url(../fonts/Avenir-Heavy.woff) format('woff'),
         url(../fonts/Avenir-Heavy.woff2) format('woff2');
}

@font-face {
    font-family: 'Avenir black';
    src: url(../fonts/Avenir-Black.ttf) format('truetype'),
         url(../fonts/Avenir-Black.woff) format('woff'),
         url(../fonts/Avenir-Black.woff2) format('woff2');
}